<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>981884824732-i0vge46u5kboheu959kt2imeh6atkmia.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0F6foTD8lw7hrEO5S4clj-0meWVABuB0</string>
	<key>GCM_SENDER_ID</key>
	<string>981884824732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trueknoc.myapp</string>
	<key>PROJECT_ID</key>
	<string>trueknoc-57525</string>
	<key>STORAGE_BUCKET</key>
	<string>trueknoc-57525.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981884824732:ios:43145c5aeeadec973f9159</string>
</dict>
</plist>